<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="estilos.css">
    <title>Tarea 1</title>
</head>
<body>
    <div class="container p-4 div" id="app">
        <img src="pusheenMarket.png">
        <h2>{{titulo}}</h2>
        <input id="contenido" v-model="cadena" type="text" class="form-control" placeholder="Ingresa los productos">
        <br>
        <span v-if="cadenaSeparada != 0">
            <ul>
                <li class="li" v-for="elemento of cadenaSeparada">{{elemento}}</li>
           </ul>
        </span> 
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>